<h3>HOSPEDES</h3>
<br>


<mat-list>

    <mat-list-item *ngFor="let hospedeBuscarTodos of hospedeArray">
      <h5>ID {{hospedeBuscarTodos.id}}</h5>
      <mat-divider></mat-divider>
      <h4 mat-line (click)="selectHospede(hospede)">{{hospedeBuscarTodos.nome}}</h4>
      <mat-divider></mat-divider>
      <h2 mat-line (click)="selectHospede(hospede)"> {{hospedeBuscarTodos.idade}}</h2>
      <mat-divider></mat-divider>
      <h3 mat-line (click)="selectHospede(hospede)"> {{hospedeBuscarTodos.telefone}}</h3>
      <mat-divider></mat-divider>
      <h1 mat-line (click)="selectHospede(hospede)"> {{hospedeBuscarTodos.email}}</h1>
    </mat-list-item>
    <mat-divider></mat-divider>
  
  </mat-list>

  <form class="example-form">
      <mat-form-field value="nomeHospede" class="example-full-width">
          <input matInput placeholder="nome" name="insertNomeServico" [(ngModel)]="hospedeInserir.nome">
        </mat-form-field>
        <mat-form-field value="idadeHospede" class="example-full-width">
            <input matInput placeholder="idade" name="insertPrecoServico" [(ngModel)]="hospedeInserir.idade">
          </mat-form-field>
          <mat-form-field value="telefoneHospede" class="example-full-width">
              <input matInput placeholder="telefone" name="insertPrecoServico" [(ngModel)]="hospedeInserir.telefone">
            </mat-form-field>
            <mat-form-field value="emailHospede" class="example-full-width">
                <input matInput placeholder="preco" name="insertPrecoServico" [(ngModel)]="hospedeInserir.email">
              </mat-form-field>
      <button mat-raised-button (click)="createHospede()">Inserir/Alterar</button>
    </form>

    <form class="example-form">
        <mat-form-field value="hospedeDelete" class="example-full-width">
            <input matInput placeholder="Preço" name="deleteQuarto" [(ngModel)]="selectedId">
          </mat-form-field>
        <button mat-raised-button (click)="deleteHospede()">Delete</button>
      </form>


<!-- <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>nome</th>
      <th>idade</th>
      <th>telefone</th>
      <th>delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hospedeBuscarTodos of hospedeArray">
      <td (click)="selectHospede(hospede)">{{hospedeBuscarTodos.nome}}</td>
      <td (click)="selectHospede(hospede)">{{hospedeBuscarTodos.idade}}</td>
      <td (click)="selectHospede(hospede)">{{hospedeBuscarTodos.telefone}}</td>
      <td (click)="selectHospede(hospede)">{{hospedeBuscarTodos.email}}</td>
    </tr>
  </tbody>
</table> -->